body {
  background-image: url("giphy_s.gif");

  /* display: grid; */
}
#headerDesign {
  text-align: center;
  width: 100%;
  padding-top: 50px;
  color: burlywood;
}
h2 {
  text-align: center;
  width: 100%;
  padding-top: 50px;
  color: white;
}
#formCall {
  text-align: center;
  width: 100%;
  padding-top: 50px;
  color: burlywood;
}
#imageInfo {
  width: 100%;
  height: 100vh;
}
img {
  width: 400px;
  height: 300px;
}
